@model storeexample.Models.ContactViewModel
@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

@foreach (var contact in Model.Contacts)
{
    <h4>@contact.DisplayName</h4>
    <address>
        <strong>Email:</strong>   <a href="mailto:@contact.Email">@contact.Email</a><br />
        <strong>Phone:</strong> @contact.Phone
    </address>

    <hr />
}
