@model storeexample.Models.HomePageViewModel

@using (Ajax.BeginForm("VerifyZipCode", "Home", new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "zipCodeCheck" }))
{
    @Html.EditorFor(model => model.ZipCode, new { htmlAttributes = new { placeholder = "Enter your zipcode" } })

    <div>
        <input type="submit" value="Check Zip" class="btn btn-primary" />
    </div>

    <div>
        <span id="zipResult">@Model.ZipCodeMessage</span>
    </div>
}
