@model storeexample.Models.CheckoutViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <h2>Checkout</h2>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h3>
            Order Total: @Html.DisplayFor(model => model.OrderTotal)
        </h3>
    </div>
</div>
