@model storeexample.Models.CheckoutViewModel
@{
    ViewBag.Title = "OrderComplete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Order Complete</h2>

<div>
    Thank you for your order! We've sent your order confirmation to the email address you provided.
</div>

