@model storeexample.Models.OrderViewModel

<h3>Order Cart</h3>

@foreach (var orderedProduct in Model.Order.OrderedProducts)
{
    <div>
        <span>@orderedProduct.Product.DisplayName - @orderedProduct.QuantityOrdered</span>
    </div>

    
}

<div>
    @Model.Order.OrderId
    @using (Html.BeginForm("Index", "Checkout", new { orderId = Model.Order.OrderId }, FormMethod.Get, new { @class = "form-inline text-center" }))
    {
        <input type="submit" value="Checkout" class="btn btn-primary" />
    }
</div>

